.carousel-thumbnail-container {
  position: relative;
  z-index: 1000 !important;
}

.video_play {
  color: white;
  background-color: rgb(187, 191, 115) !important;
  overflow: hidden;
}

.video_play:hover {
  background-color: #333 !important;
  color: rgb(187, 191, 115);
}

.video_play .glyphicon {
  font-size: 24px;
  line-height: 1.6;
}

.carousel-caption {
  padding-top: 5px!important;
  color: #777!important;
  font-size: 14px!important;
  font-weight: 200!important;
  text-align: right!important;
  text-shadow: none !important;
  position: relative !important;
  left: 0 !important;
  right: 0 !important;
  padding-bottom: 0 !important;
  bottom: 0 !important;
  font-size: 12px !important;
}

#carousel-one-generic .carousel-indicators {
  margin: 10px 0 0;
  overflow: auto;
  position: static;
  text-align: right !important;
  white-space: nowrap;
  width: 100%;
  display: block !important;
}

#carousel-one-generic .carousel-indicators li {
  background-color: transparent;
  border-radius: 0;
  display: inline-block;
  height: 42.25px;
  margin: 0 5px;
  width: 75px;
  border: none !important;
  padding-bottom: 20px;
}

#carousel-one-generic .carousel-indicators li img {
  display: block;
  opacity: 0.5;
}

#carousel-one-generic .carousel-indicators li.active img {
  opacity: 1;
}

#carousel-one-generic .carousel-indicators li:hover img {
  opacity: 0.75;
}
