@import 'longform-styles';
@import 'philly-styles/values';

#imageStack-1 {
  transform: rotate(-4deg);
  z-index: 2;
  position: relative;
}

#imageStack-2 {
      margin: -120px 40px 0;
      transform: rotate(2deg);
      z-index: 1;
      position: relative;
}

.section-border {
    position: absolute;
    margin: 0 auto;
    left: -5%;
    right: 0;
    width: 110%;
    height: 310px;
    background: #fff;
    border-bottom: none;
    z-index: -1;
}

.dropBox {
    position: relative;
    font-size: 28px;
    color: #222;
    letter-spacing: .95px;
    width: 80px;
    height: 80px;
    text-align: center;
    float: left;
    margin-right: 10px;;
    background-color: #111;
    padding-top:3px;
}

.dropCap2 {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 80px;
    font-size: 2.5em;
    color: #222;
    font-family: $philly-sans;
    font-weight: 900;
    color: $newsgrey;
}


.col-md-8.col {
position: relative;
z-index: 3;
}

.sectionArt {
  position: relative;
      margin-bottom: -300px;
}

.sectionHeadText {
  padding: 30px 0 10px;
  margin-bottom: 60px;
  text-align: center;
  font-size: 36px;
  font-family: $philly-serif;
  letter-spacing: 3px;
  border-bottom: 2px dotted $darkred;
  position: relative;
  z-index: 2;
}

.sectionArt .sectionOverlayText {
  z-index: 5;
}

.sectionOverlayText {
    position: absolute;
    padding: 4px 0 0;
    top: auto;
    bottom: 20%;
    width: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    color: $newsgrey;
    background-color: #000;
    font-family: $philly-sans;
    letter-spacing: -2px;
    line-height: normal;
    font-size: 50px;
    @include tablet {
        font-size: 68px;
        padding: 0 10px;
    }
    @include mobile {
        position: relative;
        top: inherit;
        bottom: inherit;
        color: #000;
        text-shadow: none !important;
        padding: 30px 10px 10px;
        margin-bottom: 0.625rem;
        font-weight: 800;
        letter-spacing: -.0625rem;
        font-size: 2.5rem;
        line-height: 1.05;
    }
}



// .gradient-layer {
//   position: absolute;
//   bottom: 0;
// z-index: 2;
// width: 100%;
// height: 200px;
// /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+28,ffffff+100&1+21,0+100 */
// background: -moz-linear-gradient(bottom, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 21%, rgba(255,255,255,0.91) 28%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
// background: -webkit-linear-gradient(bottom, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.91) 28%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
// background: linear-gradient(to top, rgba(255,255,255,1) 1%,rgba(255,255,255,1) 21%,rgba(255,255,255,0.91) 28%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
// }

.hangRight {
    position: relative;
    height: auto;
    display: inline-block;
    float: right;
    margin-left: 20px;
    // max-width: 60%;
    @include tablet {
        max-width: 55%;
    };
    @include mobile {
        margin: 0px;
        padding: 0px;
        max-width: 100%;
    };
    @include BS-medium {
        height: auto;
        left: 100px;
        margin-left: -100px;
        width: 100%;
        max-width: none;
    };
}



    .imageFrame {
        // @include transform(rotate(1deg));
        background: white;
        border: 5px solid #fff;
        @include mobile {
            border: 3px solid white;
        };
        @include BS-medium {
            @include box-shadow(3px 4px 15px 0 rgba(#000,0.3));
        };
    }

    .tilt {
        @include transform(rotate(-1deg));
        border: 5px solid white;
        @include box-shadow(3px 4px 15px 0 rgba(#000,0.3));
    }

    .doubletilt {
        border: 5px solid white;

        @include BS-medium {
            width: 85%;
            @include box-shadow(3px 4px 15px 0 rgba(#000,0.3));

        };

        &:first-child {
            // @include transform(rotate(deg));
        }

        &:nth-child(2) {
            margin-top: 10px;
            margin-right: auto;
            max-width: none;
            @include BS-medium {
                margin-top: -45px;
                @include transform(rotate(1deg));
                margin-left: auto;
                margin-right: 0;
                @include box-shadow(5px -5px 15px 0 rgba($darkblueshadow,0.3));

            };
        }





    .doubletilt.vertical {
        @include BS-medium {
            max-width: 350px;
        };
    }

    .moveup {
        margin-top: -160px;
    }


    .containerPhotoCaption {
        padding: 0;
    }

    .containerPhotoCredit {
        padding: 0;
    }
}

.mobilesmall {
    @include mobile {
        max-width: 50%;
    };
}

.mobilehide {
    @include mobile {
        display: none;
    };
}
