<style>
  .timeline-container {
    width: 90%;
    padding: 10px 0;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    height: auto;
    overflow: hidden;
  }



  .timeline-container:before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    margin-left: -1px;
    width: 2px;
    height: 100%;
    background: #CCD1D9;
    z-index: 1
  }

  .timeline-block {
    width: 100%;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    justify-content: space-between;
    clear: both;
  }

  .timeline-block-right {
    float: none;
  }


  .marker {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 2px solid #CCD1D9;
    background: rgb(245, 245, 245);
    margin-top: 10px;
    z-index: 9999
  }

  .timeline-content {
    width: 95%;
    padding: 0 15px;
    color: #666
  }

  .timeline-content h3 {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 500
  }

  .timeline-content span {
    font-size: 15px;
    color: #a4a4a4;
  }

  .timeline-content p {
    font-size: 14px;
    line-height: 1.5em;
    word-spacing: 1px;
    color: #888;
  }

  #timeline-show {
    width: 100%;
    height: 25px;
    background-color: rgb(204, 209, 217);
    color: #666;
    text-align: center;
    cursor: pointer;
    opacity: 0.8;
    font-weight: 600;
  }


  #timeline-show:hover {
    opacity: 1;
  }


</style>
<div class="timeline-container short-t">

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1977</h6>
      <p>James Brzyski is ordained.</p>
    </div>
  </div>
  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1977-1981</h6>
      <p>Brzyski is the assistant pastor St. John the Evangelist, Lower Makefield, Bucks County.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1981-1984</h6>
      <p>Brzyski is the associate pastor, St. Cecilia’s, Northeast Philadelphia.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1984</h6>
      <p>Archdiocese of Philadelphia removes Brzyski from St. Cecilia’s after he admits to having sexually molested boys from the Bucks County parish. Is sent to a Catholic treatment facility, where he is declared a pedophile.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1985</h6>
      <p>Brzyski walks out on treatment and leaves ministry. Archdiocese urges him to remain a priest. Brzyski refuses and walks away. Archdiocese does not notify law enforcement or parishioners about his alleged crimes.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1985 or 1986</h6>
      <p>Brzyski took a high school teaching job in the Diocese of Metuchen, N.J.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1987-1992</h6>
      <p>Brzyski owned a house on the 1200 block of Panama Street in Center City, Philadelphia.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>1993-2000</h6>
      <p>Brzyski owned a house on the 3400 block of Midvale Avenue in East Falls, Philadelphia; ran a child’s birthday party business.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>2002-2007</h6>
      <p>Brzyski lived in Virginia. In 2002 was arrested on charges of molesting a teenager. The case was dismissed.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>Sometime between 2002 and 2005</h6>
      <p>Brzyski appeared before Philadelphia grand jury investigating archdiocesan clergy abuse. Refused to answer questions about whether he molested possibly more than 100 kids.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>2005</h6>
      <p>Brzyski was defrocked by Catholic Church. Grand jury report unmasks him as one of 63 priests credibly accused of sexually abusing children in five-county Philadelphia archdiocese.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>2009</h6>
      <p>Brzyski lived in West Hollywood, CA.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>2010</h6>
      <p>Brzyski was arrested for drunken driving in New Mexico; had a court case and residential address in Kenosha, Wisconsin.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>2014</h6>
      <p>Brzyski was run out of a Dallas residence after neighbors realized his past as an alleged pedophile ex-priest. Moved to a different Dallas apartment complex.</p>
    </div>
  </div>

  <div class="timeline-block timeline-block-right">
    <div class="marker"></div>
    <div class="timeline-content">
      <h6>September 2017</h6>
      <p>Brzyski died in a Fort Worth, Texas, hotel room three weeks after his Dallas neighbors learned from reporters of Brzyski’s past as an abuser priest.</p>
    </div>
  </div>
</div>
