<div class="headerIntro">
  <div class="backgroundImage" id="backgroundImage-1">
    <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
  </div>
  <h1 class="overlayText">Cunningham</h1>
</div>

<div class="headerSection">
  <div class="BackgroundImageCaption">
    This is a photo caption.
  </div>
  <div class="headDisplay">
    <div class="subHead">
      This is the subhead.
    </div>
    <div class="byline">
      Maria Panaritis / Staff Writer, <a href="mailto:mpanaritis@phillynews.com">mpanaritis@phillynews.com</a>
      <div style="float:right;" class="custom-social-share" alignment="true">&nbsp;</div>
    </div>
    <div class="dateline">Pub date, Xxx. ##, 2017</div>
  </div>
</div>

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">

    <div class="row" alignment="true">
      <div class="col-md-8 col col-md-offset-2" alignment="true">
        <p><span class="dropCap">E</span>veryone in the packed church had come to say goodbye to the 45-year-old man in the casket.</p>
        <p> To some, he was "Jim," the tough-talking counselor who had rescued them from drugs, booze and crime.</p>
        <p> To his mom and buddies in the old neighborhood, he was "Jamie," the sweet kid who built tree forts and played street hockey back in the St. Cecilia days in Northeast Philadelphia.</p>
        <p> To the angry and sullen men and women in the rear pews of this Catholic church in February, he was a symbol of lost innocence in a parish that had become a stalking ground.</p>
        <p> Cunningham took his life in the middle of the night in February after a months-long slide into despair. For the former altar boy, the end came inside a Doylestown apartment, surrounded by police and Bucks County SWAT team members he had once coached.
          Cunningham used to be the guy who helped cops save the most desperate of men.</p>
        <p> But he could not save himself.</p>
        <p> As several priests began the funeral Mass in February, friends in the back of St. Joseph's Catholic Church in Warrington fumed.</p>
        <p> Like Jimmy, they were St. Cecilia grade school Class of 1985. They were youngsters while Father James J. Brzyski cut his swath of victimization through the parish - a period of unchecked abuse so vile that prosecutors would identify him years
          later as one of the most brutal sexual abusers to serve in the Archdiocese of Philadelphia.</p>
        <p> "No," said Kevin Emery and a few others in the pews. "I can't do it."</p>

        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pull-right hangRight">
          <img class="img-fluid imageFrame" src="http://media.philly.com/images/cunningham_linkedin_small.jpg" alt="" width="100%/">
          <div class="containerPhotoCaption" alignment="true">Jim Cunningham.</div>
        </div>

        <p> He and the others had learned about the priest's predations in 2005 through a Philadelphia grand jury report that sent no one to jail. But as far as anyone knew, Jimmy -- a scrawny bookworm -- had been among the lucky ones to avoid the predator's
          reach.</p>
        <p> Jimmy had earned a Master's degree, become a dad, had a tough divorce. He built a respected career as a prison counselor and made history by winning a Democratic supervisor slot in the Republican heart of Bucks County.</p>
        <p> But he killed himself this year after making a startling admission on Facebook. Jimmy spoke out as Philadelphia's Catholic archbishop publicly fought efforts to extend legal rights for sexually abused children in Pennsylvania.</p>
        <p> "This is the face of an adult raped as a child," he posted.</p>
        <p> Emery had a photograph of that post saved on his phone. He stiffened in the pew as priests hovered near the casket. A few pews away, altar boy John Delaney trembled with tears, a man who had gone public years earlier as a Brzyski victim. The St.
          Cecilia's kids had buried yet another altar-boy victim, Jimmy Spoerl, a year earlier.</p>
        <p> All had become the walking wounded of a grade school class for whom the horror associated with a single parish priest has seemed to have no end even as Brzyski has roamed free for decades. Even as the man enjoyed old age a meticulous garden, a
          brood of dogs, and Texas neighbors who knew nothing of his past 1,500 miles east.</p>
        <p> "We gotta leave," Emery recalled the group saying before walking out. "We can't stay here for this. This is wrong. It's a disrespect to him."</p>

        <p> Cunnigham I: CHILDHOOD IN FOX CHASE:</p>
        <p> You never forget the neighborhood. Even decades after leaving for the suburbs. That's the deal in Fox Chase. You grow up to love your favorite local bar as much as the local ballfields as a kid. It's a place near the suburban county line where
          the name of your parish is almost more important than the name of the street your house is on.</p>
        <p> A generation of kids moved into Fox Chase in the 1980s in a jumble of post-war twin houses teeming with young mostly Irish-Catholic families of deep faith.</p>
        <p> Jamie Cunningham, as the family called little James, moved into a small twin on Lawndale Avenue in the late 1970s. His dad, the elder James, was a shipping company worker and eucharistic minister at church. Jamie was the oldest of two brothers
          and two sisters. They were surrounded by kids of cops, kids of legal secretaries, and kids with stay-at-home moms who made sure the family knew that attending Sunday Mass was not optional.</p>
        <p> "We both moved in within a week of each other," said Mike Bruzas, whose dad worked in an auto parts factory. He and Jamie became next-door neighbors, grade school classmates and lifelong best friends. Their third best pal lived around the corner
          and was the son of a cop.</p>
        <p> "We just owned the street, you know?" Kristen Ott said of their Lawndale Avenue cul-de-sac kingdom. They played all day long in woods behind the house, stealing cardboard or walking on the railroad tracks.</p>
        <p>"You've seen the movie Stand By Me?" Bruzas said. "That always reminded me of our childhood."</p>
        <div class="container-fluid">
          <img class="" src="http://media.philly.com/images/cunningham_family_kids_CECILIA27-H_1200.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">Courtesy of Kristen Ott</div>
          <div class="containerPhotoCaption" alignment="true">Mother Donna Cunningham, Jim Cunningham, father James Cunningham, brother Kevin Cunningham, sister Kristen Cunningham, sister Courtney Cunningham.</div>
        </div>
        <p> Each morning, Kristen and Jamie would leave for St. Cecilia's on foot, picking up the neighborhood boys along the way. Dad would tag along as far as the SEPTA bus stop, where he began a long commute into work downtown. Jamie never walked out the
          house without tucking in his shirt or making sure his hair was neatly combed.</p>
        <p> "He was a tiny little kid, always had his hair parted to the side," said classmate Louie DiNofa, now 46, teasing that his buddy was a "good kid," if super clean-cut. "I'm a little Italian guy that looked like a mobster," DiNofa joked, "he looked
          like a politician."</p>
        <p> Jamie was sharp with words but had a soft smile on a dirty-blonde mug. He was an excellent student who showed a precocious empathy for people.</p>
        <p> "I'd put him in the yard out back, and anybody out in the street he'd talk to them," said his mother, Donna Cunningham, a stay-at-home mom who years later would take a job as a Catholic parish secretary. Elderly neighbors were so grateful for
          Jamie's attention they would have him over for pancakes, she said.</p>
        <p> In the words of his sister: "Jamie was that 'old man' that could talk to anybody."</p>
        <p> ---------------</p>
        <p> BRZYSKI I.</p>
        <p> Father James Brzyski was a 6-foot-five colossus who weighed 220 pounds. He favored a certain type of boy.</p>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
          <img class="img-fluid imageFrame" src="http://media.philly.com/images/cunningham_brzyski_young_vertical.jpg" alt="" width="100%/">
          <div class="containerPhotoCaption" alignment="true">Rev. James J. Brzyski. From St. Charles Seminary, Priest Alumni of Philadelphia.</div>
        </div>
        <p> "Shy, docile, bright and intelligent and ... all physically attractive," in the words of a priest quoted by prosecutors decades later. His prey: Children as young as 10, 11 and 12 years old.</p>
        <p> Ordained in 1977, Brzyski had already abused children at his first parish out of seminary, Saint John the Evanglist in Lower Makefield, when the archdiocese made him associate pastor of St. Cecilia's in 1981.</p>
        <p> Over seven years at both churches, he would abuse anywhere from 17 to 100 children, prosecutors discovered decades later, when it was too late to prosecute or sue a soul.</p>
        <p> One by one, he set about abusing boys at St. Cecilia's. Kids including altar boy John Delaney who, like Brzyski, was the son of a Philadelphia cop.</p>
        <div class="container-fluid">
          <img src="http://media.philly.com/images/cunningham_soccer_team_1200.jpg" width="100%" />
          <div class="containerPhotoCaption" alignment="true">Jim Cunningham (center) as a boy with his Fox Chase soccer team. John Delaney is to his right.</div>
        </div>
        <p> Delaney played on the same youth soccer team as Jamie and was among several dozen altar boys who served during Brzyski's time. He fit the target profile.</p>
        <p> "I came from a broken home," Delaney said. "I was a shy kid, I was a little kid."</p>
        <p> Brzyski abused Delaney and others in the sacristy, the grade school, the rectory and elsewhere. Delaney was just 12 and weighed 80 pounds when Brzyski raped him in the rectory, prosecutors would learn decades later.</p>
        <p> The priest was intimidating in other settings, too.</p>
        <p> "I vividly remember, I think it was May procession practice. ... There was incense. ... All the altar boys were lined up," Emery recalled. "It might have been after school one day."</p>
        <p> Boys in procession had to hold their palms together so that fingers pointed to the sky. Interlacing fingers was akin to pointing to the devil, in Brzyski's eyes, and would trigger a rage. Brzyski would wrap his hands around a boys' knotted fingers
          and squeeze until the knuckles felt like they were cracking.</p>
        <p> On this day, however, Brzyski threw a boy into a confessional for giggling.</p>
        <p> "What is this guy doing?" Emery remembered thinking. "I was petrified after that."</p>
        <p> At the time, his victims did not report [DOUBLE CHECK GJ REPORT] that they were being abused by Brzyski. Classmates like Emery, who were not assaulted, had no idea what the priest was doing to others behind closed doors. Prosecutors would learn
          years later that his victims felt shackled into silence by psychological manipulations..</p>
        <p> Brzyski told victims that their parents were aware of and sanctioned the abuse. He also paid frequent visits to their homes, making mom and dad proud that the priest saw something godly in their boys.</p>
        <p>This combination was especially chilling to classmate Jimmy Spoerl, who Brzyski had begun abusing in fifth grade. For nearly three years, the priest pulled the handsome boy out of class to abuse him in the rectory. Spoerl didn't tell his mother
          until decades later, when he decided to testify before the Philadelphia grand jury. [FIRST REFERENCE?]</p>
        <p> "He was afraid to go to school," said his mother, Cass Spoerl, in an interview after her boy's premature death last year, "and he was afraid to come home."</p>
        <p> If Cunningham was being abused, he, like the others, apparently told no one at the time.</p>
        <p> Jamie was not one to talk back or bring problems home, where strict discipline was a family norm. Plus, he was a tough kid, if also a studious one. His unflinching goaltending helped the Fox Chase Soccer Club win an all-city championship for kids
          under 14.</p>
        <p>"He was a great goalie," said teammate John Mullen. He said Cunningham had "guts" on the field.</p>
        <p>There was no sign, his mother said, of a change in personality. Of anything outwardly different to suggest the boy was being harmed.</p>
        <p> There was just a single snowy week that seemed a bit odd. One that Donna Cunningham would angst about decades later after prosecutors unleashed a torrent of revelations about Brzyski's rapacious sexual acts on children.</p>
        <p>Jamie had to leave for church every morning that week to help Brzyski with Mass, then head to class afterward. The priest ordered him there as "punishment" for something, Jamie told his mom, but didn't elaborate. He seemed like his usual self,
          so mom didn't give it much thought.</p>
        <p>When his parents weren't looking, though, the boy found one way to avoid the church they so revered. He would hide out at the recreation center across the street.</p>
        <p>"Sometimes we would say we're going to church," his sister recalled, "but we would sit up at the Fox Chase Rec and we'd sit up there for like an hour. And sometimes, we'd argue over who's going into the church to go grab the Mass paper to say
          we had gone to church."</p>
        <p>The only other thing anyone remembers came around eighth grade, the year Brzyski left St. Cecilia's. He no longer wanted the androgynous nickname so adored by his family.</p>
        <p>"Out of the blue, he said, 'Please don't call me Jamie anymore,'" Bruzas recalled.</p>
        <p>"Please," Cunningham insisted. "It's Jim."</p>
        <p> -------------------</p>
        <p> FIRST ADMISSION, ADULT YEARS</p>
        <p> Cunningham's first known admission would not come until he was 34 years old, after Brzyski had been publicly named as an abuser. His career and public profile were soaring but his personal life was turning rocky.</p>
        <p>Cunningham bootstrapped his way into adulthood, attending Holy Ghost Preparatory School in Bensalem for three years and graduating from Cardinal Dougherty High school. Along the way, he was turning into a young man with a passion for channeling
          his intelligence toward giving voice to people in the world. He was proud when, during his senior year, he won a regional news reporting contest and scholarship at KYW Radio.</p>
        <p> He worked summers on freighters off the West Coast to help put himself through Temple University for a bachelor's and Holy Family University for a Master's in psychology.</p>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 pull-right hangRight">
          <img class="img-fluid imageFrame" src="http://media.philly.com/images/cunningham_CECILIA27-mm_big_check_1200.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">Courtesy of KYW 1060</div>
          <div class="containerPhotoCaption" alignment="true">Cunningham receives the first-ever Richard Monetti Scholarship Award from KYW 1060 general manager Roy Shapiro (left), for winning a newsgathering competition in 1989.</div>
        </div>
        <p> As proud as he was about winning the journalism contest, Cunningham also spoke with passion about being at the forefront of student demonstrations when a Temple teachers' strike shut down classes in 1990. He was angry that working-class kids were
          being hurt by the squabble.</p>
        <p> "He paid for college himself," his mother said. "He was so mad that they were on strike!"</p>
        <p>He had ascended to supervisor of addictions treatment at Bucks County Correctional Facility and was so respected he was hired to help the Central Bucks Central Response Team defuse volatile standoff situations with police.</p>
        <p> "He was a SWAT negotiator," said attorney Frank Rothermel, a former federal prosecutor who became friends with Cunningham as they both served as Democratic committeemen in the 2000s. "Talked people out of committing suicide."</p>
        <p>In the eyes of his best friend, Cunningham seemed to have it all by his mid 20s. He was married, had two boys, an ascending career, and a personality that could made friends anywhere, anytime.</p>
        <p>"I thought he had the perfect life," Bruzas said.</p>
        <p>Bruzas ended up hospitalized with depression. Cunningham paid him a visit. Was his lifeline.</p>
        <p>"Hang in there," he told him. "Things aren't as dark as they seem."</p>
        <p>But Cunningham had begun drinking heavily after becoming the father of two boys. It mystified those closest to him.</p>
        <p>"I didn't understand why he was drinking so much," Bruzas said, "when he had what he had."</p>
        <p> In September 2005, the St. Cecilia's class was dumbstruck and shocked when Philadelphia District Attorney Lynne Abraham released a 418-page grand jury report about clergy abuse within the Archdiocese of Philadelphia.</p>
        <p>The grand jury spent 19 pages detailing horrific accounts of Brzyski's abuse of young boys between 1977 and 1984. With corroborating personnel files subpoenaed from church headquarters, Brzyski was found to be among 63 priests found to have abused
          hundreds of children over several decades.</p>
        <p> He was "was one of the Archdiocese's most brutal abusers," the grand jury wrote. Victims "suffered a world of torment because their abuse remained secret and they were left to cope with its devastating consequences alone."</p>
        <p>"I was sick to my stomach," Emery recalled when he read the newspaper stories that landed at the front door of his father's house.</p>
        <p>Cunningham's mother said she asked if Jamie had been abused. Her son's answer: "No." And he pushed forth with his professional ambitions.</p>
        <p> Cunningham made a bit of political history in November 2007 when he and Rothermel became the first Democrats in 280 years to win supervisor slots in Northampton Township.</p>
        <p> "It was lightning in a bottle," Rothermel recalled.</p>
        <p> He was working full-throttle at the prison, too, with something of an open-door policy with inmates that was humanistic.</p>
        <p> "Jim was able to be real and true and talk to them from the heart, and that's truly a gift," said Democratic Bucks County Commissioner Diane Ellis-Marseglia, a clinical social worker who became friends with Cunningham as he entered public life.
        </p>
        <p> But two weeks after his election victory, Cunningham's wife filed for divorce. Months later, Brzyski made headlines again when the Daily News questioned how he and so many other abusive priests had escaped arrest years earlier. And in the summer
          of 2008, Cunningham shocked his clan while they vacationed together off the coast of North Carolina.</p>
        <div class="container-fluid">
          <img src="http://media.philly.com/images/cunningham_otts_CECILIA27-M_1200.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">Courtesy of Kristen Ott</div>
          <div class="containerPhotoCaption" alignment="true">Jon Ott and Kristen Ott at their Reading home.</div>
        </div>
        <p> "Everyone was drinking beer and having a good time," recalled Jonathan Ott, his brother-in-law.</p>
        <p> "We were all there," said his sister, Kristen.</p>
        <p> Neither could recall the exact words that tumbled out of Jamie's mouth, but they remembered this much.</p>
        <p> "Something to the effect of a man having sex with him as a child," Jon Ott said.</p>
        <p>A priest.</p>
        <p> Jamie offered no other details. Relatives pooh-pooh'ed him. They figured it was a stab at raunchy humor, nothing more.</p>
        <p> Cunningham, however, was the only one not laughing.</p>
        <p> "He had tears in his eyes," Jon Ott said. "Like something was there. Like something was bothering him and he just wanted to get it out."</p>
        <p> --------------------------------------------------</p>
        <p> BRZYSKI II</p>
        <p> Brzyski vanished from St. Cecilia's in 1984 and never returned.</p>
        <p> The church lied to parishioners about it.</p>
        <p> "They said he had a mental breakdown," Jimmy Spoerl's mom recalled. "It said so in the parish bulletin."</p>
        <p> In reality, a whistleblower priest had given top church officials evidence that Brzyski had been abusing children.</p>
        <p> Brzyski admitted to acts of sexual misconduct and the archdiocese sent him to Saint Luke Institute in Maryland, a Catholic treatment center for priests. The facility's priest-director said Brzyski demonstrated "pedophilia" and recommended intensive
          treatment, noting the church's potential exposure to prosecution.</p>
        <p> Then-Cardinal Krol had harsh words: "His alleged conduct suggests a wolf in sheep's clothing - who serves as Satan's agent for perdition and not Christ's alter ego for salvation," he wrote in the margin of a personnel memo prosecutors reviewed
          two decades later.</p>
        <p> But when Brzyski left St. Luke's against archdiocesan wishes, and rejected the church's request that he remain in ministry, officials told nothing to police or worshipers. In 1986, a top lieutenant to Krol issued a memo ordering that no effort
          be made to find any Brzyski victims at St. Cecilia's.</p>
        <p> Spoerl's mother didn't know what to make of disturbing changes in her son's personality as he entered high school. Nor could she make much sense of the visitor who turned up on her doorstep after the priest's vanquishment from Fox Chase.</p>
        <p>
          She answered the door. It was Brzyski. He seemed off-kilter. Sweaty. Not well.</p>
        <p> "He just said, he 'just came for a visit.'"</p>
        <p> ---------------------------</p>
        <p> COMING UNGLUED, SPEAKING OUT MORE AND MORE</p>
        <p> Cunningham was coming unglued.</p>
        <p>His divorce had gone through in 2011. Another Philadelphia grand jury report that year found even more priest abusers in ministry despite promised archdiocesan reforms. In 2013, he lost his re-election bid. All the while, Cunningham's drinking
          problem had become severe. He knew this and had done rehab time and again. On some days, like May 4, 2014, he seemed like he was close to winning.</p>
        <p> That day on Facebook, with his page set for all the public to see, he uploaded a photo of himself smiling in racing bib #10583 alongside one of his two sons. They had just done the 10-mile Broad Street Run in Philadelphia.</p>
        <p>But by late 2015, he was struggling -- and started telling people in his outer orbit about having been abused as a child, while staying mostly mum to his closest relatives and oldest friends. He was confiding in people all had one thing in common:
          They had experienced extreme adversity themselves, or worked with people at their lowest.</p>
        <p>One admission came that fall inside the prison, when Cunningham was with one of his workers, Bruce Schaffer, 70, a veteran prison counseling contractor. The pair had worked together for 18 years [CHECK MATH]l.</p>
        <p>Inside, they called Schaffer "Old Head." The drug and sex offender therapist had become something of a mentor and confidant to the supervisor young enough to be his son. Schaffer had been initiating heart-to-hearts about Cunningham's drinking
          problem. One day, his supervisor blurted out something surprising.</p>
        <p>"I need to tell you something," he said, as Schaffer recalled it.</p>
        <p> "Okay," Schaffer replied.</p>
        <p> "I was molested by a priest when I was a little boy," he said. "My mother doesn't believe me."</p>
        <p> Schaffer had heard enough of these confessions to know what a real one looked and sounded like. Such memories can take decades to surface after childhood abuse. In Schaffer's mind, Cunningham's mood and body language said it all: His friend was
          not lying.</p>
        <p> "I remember like it was yesterday," Schaffer said. "He didn't look at me. I could see the pain in his face. And there was a long pause. A long silence."</p>
        <p> Cunningham seemed ashamed.</p>
        <p> "Does that change the way you see me?" Schaffer recalled him asking.</p>
        <p> "No, no," Schaffer replied. "Absolutely not."</p>
        <p> Schaffer knew from a growing body of research about childhood trauma that sexual abuse could change the wiring in a child's brain. Cause lifelong problems that play out intensely later in adulthood. So he said he told him to tackle one demon at
          a time. Start with the drinking. Get yourself strong enough to then unwind the childhood trauma.</p>
        <p> "Do I open this guy up," Schaffer thought, "or do I recommend he get professional help?"</p>
        <p>Cunningham did not tell him the name of the priest or what happened exactly. Just that the chuch was called St. Cecilia's. Schaffer was afraid to pry too deeply. This was a friend, but also his boss.</p>
        <p>"Take care of this professionally," he told Cunningham. What Schaffer really wanted to say: Do you want to talk?</p>
        <p> Schaffer worked with Cunningham's parents, girlfriend, and others in the family to stage an intervention that Thanksgiving. After that came more rehab, again with help from his mom and others.</p>
        <p>In January 2016, Cunningham seemed rested and better. But when he met with released-inmate-turned-friend Sean Allen, abuse was on his mind.</p>
        <div class="container-fluid">
          <img class="" src="http://media.philly.com/images/cunningham_sean_wife_CECILIA27-N_1200.jpg" width="100%" />
          <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Sean Allen, with his wife Amber Allen, was an inmate at Bucks County prison when he got to know Cunningham, the head of drug and alcohol treatment.</div>
        </div>
        <p>Cunningham had counseled the 29-year-old tattoo artist while in prison. Allen, who has a long criminal record, said he viewed Cunningham as one of the few people he met in and out of jail who had treated him with humanity. Both were Northeast
          Philadelphia Catholic boys. As they gabbed. Allen mentioned that he had been molested by a babysitter when he was young.</p>
        <p> "Jim was like, 'That ain't right,'" Allen recalled.</p>
        <p> Allen wondered, aloud, under what circumstances a kid would have told his parents of being molested. What if, he asked Cunningham hypothetically, you were an altar boy?</p>
        <p>Cunningham's answer caught him by surprise.</p>
        <p>"I was taken advantage of when I was a kid," Cunningham told Allen.</p>
        <p>"Knock it off," Allen said.</p>
        <p>The dropped the subject, but not until Cunningham added one more thing: Being abused can mess up your life.</p>
        <p>When they met again a month or so later, Cunningham mentioned it again as something "bothering me for a long time," Allen recalled.</p>
        <p>He even confided in one of the county's most prominent elected officials, Democratic Commissioner Ellis-Marseglia. She was a social worker who had lost a daughter to suicide a decade earlier.</p>
        <p> "He told me he had been abused by a priest," recalled Ellis-Marseglia. He made the disclosure as the pair discussed Cunningham's effort to design a new therapeutic treatment program at the jail with money she had secured.</p>
        <p>"I think he said he was talking about it with someone."</p>
        <p>Weeks later came the funeral of Jimmy Spoerl. And with it, the beginning of the end for Jimmy Cunningham.</p>
        <p> --------------------------</p>
        <p> The final unraveling</p>
        <p> The ink was barely dry on stories about a Pennsylvania attorney general probe into clergy abuse at the Diocese of Altoona-Johnstown when Jimmy Spoerl died at a Philadelphia hospital in March 2016. He was 44. His body gave out after decades of
          battling addiction. Spoerl had told prosecutors he had been abused by Brzyski at St. Cecilia's.</p>
        <p>Cunningham went to the Protestant church where Spoerl's mom held the funeral, in protest against the Catholic church. Afterward, he and a bunch of classmates toasted Spoerl at a bar. Cunningham was in bad shape that night.</p>
        <p> "He was so drunk he really couldn't talk," DiNofa, one of Spoerl's best friends, remembered about Cunningham. "I guess he was drowning his own sorrows a little bit that night. I don't think we knew that Brzyski had gotten him at that point."</p>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
          <img class="img-fluid imageFrame" src="http://media.philly.com/images/cunningham_delaney_vertical.jpg" alt="" width="100%/">
          <div class="containerPhotoCaption" alignment="true">Jim Cunningham and John Delaney.</div>
        </div>
        <p>In July 2016, Cunningham was fixated on a front-page Daily News story about Brzyski as he sat in his jail office. It showed dueling images of Archbishop Chaput and an old buddy John Delaney, onetime altar boy of the year. Delaney had been pushing
          for a new law to let adult victims sue institutions for old cases of child sex abuse. Chaput was well on his way to successfully defeating the bill, now before the Senate.</p>
        <p> Delaney had requested and was granted a meeting with Chaput. The archbishop canceled when Delaney told the press.</p>
        <p> Cunningham showed Schaffer the news story. Told him Delaney was a friend and one of two other kids who were abused by the same priest who had abused him.</p>
        <p> The same day as that July 15, 2016, story was published, Cunningham went to Facebook and posted a photo of the newspaper's front page.</p>
        <p> "Chaput is a coward," he wrote. "Another attempt to exert power and control over a victim. Please give John-Michael Delaney closure on this chapter."</p>
        <p> Others chimed in. Cunningham became incensed, and hinted for the first time to his online friends that this was personal for him, too. He attacked Chaput for arguing that the planned meeting had been pastoral in intent, not public.</p>
        <p>
          "Last time John went to a 'pastoral' meeting," Cunningham wrote, 'he and many of us got literally fucked."</p>
        <p> He and Delaney had been altar boys and soccer teammates. "Played on the yard together," he wrote. "This makes me ----ing sick."</p>
        <p> Then, he struck at Brzyski.</p>
        <p> "His rapist presided over my great grandmothers (sic) funeral. A devout Catholic, who I loved very much, would be rolling in her grave now. Disgusted."</p>
        <p> Three days later, in the middle of a Monday afternoon, Cunningham held even less back when, again, he went to Facebook.</p>
        <p> "So I'm meeting my friend John-Michael Delaney this evening. He and I are friends from way back. I admire his courage and honesty. Therefore, I'd like to state publicly that Brzyski got to me, too. I've buried it over the years, battled alcoholism
          and depression (sic) John's fight brought it all up. And I'm with him."</p>
        <p> He added one more line: "Was sorry to see one friend die and another suffer."</p>
        <p> Friends from grade school and elsewhere swarmed the comments section with surprise, condolences, encouragement and simmering rage of their own.</p>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 pull-right hangRight">
            <img class="img-fluid imageFrame" src="http://media.philly.com/images/cunningham_kids_CECILIA27-I_vertical.jpg" alt="" width="100%/">
            <div class="containerPhotoCredit" alignment="true">Courtesy Kristen Ott</div>
            <div class="containerPhotoCaption" alignment="true">The Cunningham kids had a seemingly idyllic childhood. From left: Kristen, Courtney, Kevin, and Jim .</div>
          </div>
          <p> "Wow," wrote Bruzas. "Sorry you had to go through that. It certainly changes my idyllic perception of our childhood. Let me know if you want to talk."</p>
          <p> His sister, Kristen, blew him an emoji kiss. "We are always here for you! I hated that grade school for all the secrets!"</p>
          <p> "Not easy," he wrote her back.</p>
          <p> Old classmate Linda Matthias Hee, now a lawyer involved with Bucks County Democratic politics, offered to help.</p>
          <p> "Please let me know if I can do anything," Matthias Hee wrote. "I'm here."</p>
          <p> "Defend me when I kill Brzyski?" Cunningham replied. "Can't imagine a jury would find us guilty."</p>
          <p> Another classmate suggested he, too, had been abused -- but by a different priest.</p>
          <p> "It wasn't Brzyski, but I (sic) too know your pain," he wrote. "They are the weak, we are the strong!"</p>
          <p> One after another, mid-life adults who had survived the St. Cecilia's cauldron vented.</p>
          <p> "If we would have known back then and figured out something to do to stop that demented prick," another long-time friend wrote.</p>
          <p> "Makes me sick to my stomach that we were all there at the same time and were too young and naive to band together," wrote still another.</p>
          <p> "The school I moved to also had a priest in my high school ... with a scum bag priest ... who used to take kids down to OCNJ and do bad things to them," wrote another classmate. "Even with having my son in Catholic School I keep him away from
            priests and being an altar boy. Prayers with you Jim and to John."</p>
          <p> They called Cunningham courageous. Told him he was strong. Cunningham may have believed this himself when he suggested his disclosure would be an act of cleansing.</p>
          <p> "Only as sick as your secrets," he wrote.</p>
          <p> That night, a group of St. Cecilia kids met Cunningham and Delaney for beers at the Red Rooster, a Fox Chase watering hole so old-school it still plays Sinatra on Friday nights, and you have to walk through a plume of sidewalk cigarette smoke
            just to get inside. They often held reunions in there.</p>
          <p> Bruzas picked him up, took him there, and then took him back home. Cunningham was drunk the whole time. Yeah, he told Bruzas. I was one of the victims. But he asked his friend to change the subject. Some guys whispered about it at the Rooster
            while Cunningham talked to girls from the class.</p>
          <p> "It was a bad couple of days," said Delaney, who spent the next few days helping Cunningham through an obvious struggle with alcohol and depression over what he had disclosed.</p>
          <p> Delaney recognized the pain. He had gone public with his abuse in 2005.</p>
          <p> "He was in a dark place," Delaney said. " A place that I knew well."</p>
          <p> ---------------------------------------------</p>
          <p> The final straw for Jim Cunningham came on a weeknight in a rented apartment.</p>
          <p> He and his long-term girlfriend had broken up. He has finished more inpatient alcohol rehabilitation with help from his family. And this time, he told Schaffer, he told treatment center therapists about the abuse. He received a form of eye therapy
            aimed at helping curb the post-traumatic stress of replaying scary memories.</p>
          <p>"Looked good," Schaffer said of the one Sunday he visited Cunningham in treatment, in the presence of Cunningham's brother and a nephew. When he got out, Cunningham was on an anti-alcohol drug, Naltrexone, which makes you sick if you drink while
            taking it.</p>
          <p> But the workload at the jail was high. Cunningham was still designing the new treatment program there.</p>
          <p> "Jim," Schaffer asked one day after his return to the prison, "you still on that Naltrexone?"</p>
          <p> "No," Cunningham said. "I stopped it." He had been going to a lot of support meetings, he reportedly said, and thought that was enough.</p>
          <p> "That's a mistake," Schaffer told him.</p>
          <p> He did not listen. His alcoholism had gotten the better of him, and Schaffer could only watch the disintegration.</p>
          <p> "That's when he really fell apart," Schaffer said. "He fell apart psychologically."</p>
          <p> Both men were fired that winter. Schaffer continued to work on consulting jobs across Pennsylvania. Cunningham's mom found him an apartment in a three-story Victorian in quaint Doylestown. He was dating someone he had met in rehab and struggled
            to find a new job.</p>
          <p> In January, he reached out to Kristen, who long ago had moved away with her family to Exeter Township, more than an hour away.</p>
          <div class="container-fluid">
            <img src="http://media.philly.com/images/cunningham_ott2_CECILIA27-G_1200.jpg" width="100%" />
            <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">Kristen Ott was Jim Cunningham talks in her Reading home about her deep sadness over the suicide of her brother Jim Cunningham.</div>
          </div>
          <p> "He needed $1,500," Kristen Ott said. "He was talking about having job interviews, but he didn't have gas money. I was sending him Wawa gift cards."</p>
          <p> He found a job, but it paid less than he had been making. He met Schaffer at a diner and told him how things were going.</p>
          <p> "He said that he was totally broke," Schaffer recalled. "He was about to get evicted, he had no cable. They were going to repossess his car because he was back on his car payments. So I gave him a couple of hundred dollars."</p>
          <p> Schaffer again offered money later that month.</p>
          <p> "No, no, no please don't do that," Cunningham said. A week later, Cunningham texted that he had lost the new job.</p>
          <p> At 9:55 p.m. on Thursday, February 9th, Cunningham went to Facebook. This time, the post was set for all the public to see.</p>
          <p> "To all those I've helped, please remember me. To all those who judge and disparage and discount, fuck you."</p>
          <p> Marita McNichol, a former St. Cecilia's youth sports counselor, posted the first worried comment.</p>
          <p> "You ok cuz?" she asked.</p>
          <p> "No," Cunningham told them.</p>
          <p> "What's up, brother ? What's up?" asked Delaney.</p>
          <p> Cunningham's mom contacted police. She was worried he might hurt himself. Police arrived and for an hour he texted officers. At the same time, posts on his Facebook page continued. Eventually, the Central Bucks Special Response Team -- the guys
            he had once helped -- were on the scene, too.</p>
          <p>After an hour, he erased all doubts on Facebook about what was on his mind.</p>
          <p> "This is the face," he wrote, "of being raped as a child."</p>
          <p> Cunningham criticized members of his family, saying they had not believed him.</p>
          <p> "I've been an alcoholic for twenty plus years keeping this bullshit to myself until recently."</p>
          <p> "Jimmy please keep your head up," Emery wrote. "One day at a time" (sic)</p>
          <p> In his final post, Cunningham took one more swipe at those he loved the most.</p>
          <p> Central Bucks Regional Police Chief James Donnelly and others on the scene that night would say nothing about what Cunningham said to them. They refused even to release an incident report to Cunningham's mother. Did he mention a priest? Anything
            else? All Donnelly said in the hours after the incident was that Cunningham had said he had a gun. [CHECK CQ THIS]</p>
          <p>When they eventually got inside, officers found Cunningham hanging inside a closet. No guns anywhere. He died near a rosary on the floor and a cross on the kitchen table.</p>
          <p>The coroner declared it a suicide, listing time of death as 5:51 a.m.</p>
          <p>That morning, word of his death spread like a punch to the stomach.</p>
          <div class="container-fluid">
            <img class="" src="http://media.philly.com/images/cunningham_ott_CECILIA27-B_1200.jpg" width="100%" />
            <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">Kristen Ott was Jim Cunningham's younger sister, Ott is shown here in her Reading home as she talks about her deep sadness over the suicide of her brother Jim.</div>
          </div>
          <p>Kristen Ott threw her phone and fell to her knees when she got the call from her younger sister.</p>
          <p> Bruce Schaffer was standing on a train platform in Fort Washington with his wife when his phone rang. He was almost beyond words.</p>
          <p> "Jesus," he thought. "What the fuck."</p>
          <p> A former inmate at Bucks County prison spoke directly to Cunningham on his Facebook page.</p>
          <p> "...You treated me like a human being when I was in jail," he wrote, "when sometimes i didn't even feel like one ... "</p>
          <p>Bruzas found out while at work in Center City, told his boss he had to leave, and went home in a daze, where all he could do is cry and hug his wife.</p>
          <p>Their other St. Cecilia's buddy from the old neighborhood could muster just three words on Facebook when he heard the news.</p>
          <p>"oh god no."</p>
          <div class="container-fluid">
            <img class="" src="http://media.philly.com/images/cunningham_brzyski_CECILIA27-BB_1200.jpg" width="100%" />
            <div class="containerPhotoCredit" alignment="true">JESSICA GRIFFIN / Staff Photographer</div>
            <div class="containerPhotoCaption" alignment="true">Former Priest James Brzyski walks his dogs in his apartment building courtyard, in Dallas, Texas, Monday, Aug. 21, 2017.</div>
          </div>

          <<<<<<< HEAD </div>
            ======= >>>>>>> origin/master
      </div>
    </div>
  </div>
  <div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-2">
      <div class="backgroundImageCredit" alignment="true">Xxxx Xxxx / Staff Photographer</div>
    </div>
  </div>
